$dark: #585858;
$font: 'Droid Sans', sans-serif;

body {
  background-color: $dark;
  height: 100%;

  #logo_area {
    background-image: image-url("ply.png");
    background-size: 109px 50px;
    width: 109px;
    height: 50px;

    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    z-index: 1;
  }

  #user_status {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: lighten($dark, 20%);
    color: lighten($dark, 60%);

    padding: 5px;
    padding-right: 40px;
    margin-bottom: 65px;

    font-size: 13pt;
    font-family: $font;

    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  #content_area {
    position: absolute;
    top: 0;
    left: 0;

    overflow: scroll;

    height: 100%;
    width: 100%;
    z-index: 10;
  }

  #transition_area {
    position: absolute;
    top: 0;
    left: 0;

    overflow: scroll;

    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

body.retina {
  #logo_area {
    background-image: image-url("ply@2x.png");
    width: 109px;
    height: 50px;
  }
}