!!! html
%html
  %head
    %title
      Ply
    =stylesheet_link_tag    "application", :media => "all"
    =stylesheet_link_tag    "board_assets", :media => "all"
    =javascript_include_tag "application"
    =javascript_include_tag "board_assets"
    =csrf_meta_tags
  %body
    #content_area{:"data-default-to-board" => @auto_load.eql?(false) ? @board.name : ""}
      =yield
    #transition_area
    #logo_area